@{
    ViewData["Title"] = "CanSat";
}

<div class="top-div" style="text-align:center; background-color:#32db32; height: 400px;">
    <h1>CanSat</h1>
</div>

<div class="container body-content">
    <h1 style="color:black; text-align:center">Comming soon...</h1>
</div>
