
@{
    ViewData["Title"] = "Team";
}
<div class="container body-content top-div" id="team" style="color:green; height: auto; background-color:white; border-bottom: white solid 1px;">
    <h1 class="section-h1-green" style="margin-top:200px; color:black;">Нашият отбор</h1>
    <div>
        <div class="about-box" style="color: black">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/HristoDenev.jpg">
            <h2>Христо Денев</h2>
            <hr class="hr-1-green">
            <p>Софтуерна и хардуерна разработка</p>
        </div><div class="about-box" style="color: black">
            <img style="border-radius: 100%" src="~/images/PolinaBodurova-square.png">
            <h2>Полина Бодурова</h2>
            <hr class="hr-1-green">
            <p>Аминистрация, маркетинг, финанси</p>
        </div><div class="about-box" style="color: black">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/AsenDotsinski.png">
            <h2>Асен Доцински</h2>
            <hr class="hr-1-green">
            <p>Софтуерна и хардуерна разработка</p>
        </div>
    </div>
    <div>
        <div class="about-box" style="color: black">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/DimitarPandev.jpg">
            <h2>Димитър Пандев</h2>
            <hr class="hr-1-green">
            <p>Хардуерна разработка</p>
        </div><div class="about-box" style="color: black">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/Borislav.jpg">
            <h2>Борислав Витанов</h2>
            <hr class="hr-1-green">
            <p>Хардуерна разработка</p>
        </div><div class="about-box" style="color: black">
            <img style="border-radius: 100%; width: 200px; height: 200px;" src="~/images/AleksPopvelichkov.jpg">
            <h2>Александър Попвеличков</h2>
            <hr class="hr-1-green">
            <p>Софтуерна и хардуерна разработка</p>
        </div>
    </div>
    <div>
        <div class="about-box" style="color: black;">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/martinGenchev.jpg">
            <h2>Мартин Генчев</h2>
            <hr class="hr-1-green">
            <p>3D дизайн</p>
        </div>
    </div>
    <h2 style="color:black">Ментори</h2>
    <div>
        <div class="about-box" style="color: black">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/KostadinLevkov.jpg">
            <h2>Костадин Левков</h2>
            <hr class="hr-1-green">
            <p>Инженерени и технически науки</p>
        </div><div class="about-box" style="color: black">
            <img style="border-radius:100%; width:200px; height: 200px;" src="~/images/DimitrinaDokimova.jpg">
            <h2>Димитрина Докимова</h2>
            <hr class="hr-1-green">
            <p>Предприемачство</p>
        </div><div class="about-box" style="color: black">
            <img style="border-radius: 100%; width: 200px; height: 200px;" src="~/images/HristomirHristov.jpg">
            <h2>Христомир Христов</h2>
            <hr class="hr-1-green">
            <p>Предприемачество</p>
        </div>
    </div>
</div>


